

h1 {
  color: rgb(0, 37, 20);
  font-size: 61px;
  margin-top: 40px;
  font-style: italic;
}

h2 {
  color: rgb(0, 37, 20)
}

button {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe -1px 1px 16px 5px #25df25;
  -moz-box-shadow: -1px 1px 16px 5px #0e9b4d;
  -webkit-box-shadow: -1px 1px 16px 5px #336e47;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  border-radius: 50px;
  border: 1px solid #3a4922;
  display: inline-block;
  cursor: pointer;
  color: #132e0e;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;
}


#icon {
  background: url(img/icono.png) 550px /35px no-repeat;
}

button:hover {
  color: green;
  outline: none;
  transform:scale(1.09);
  background: #6fd12d;
  
  transition: all 0.5s ease;

}

.contenedor {
  display: flex;
  justify-content: center;
  width: 1200;
  height: 70px;
  color: whitesmoke;
  font-size: 61px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  line-height: 61px;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 8s infinite;
}

ul,
h1{
  margin: 0;
}

#Login {
  background: yellowgreen;
  border-radius: 100px;
  width: 120px;
  height: 300px;
  margin-top: 40px;
  margin-right: 1050px;
  
  margin-left: 20%;
  animation: login 3s both alternate ease;
  border-radius: 68px;
  border-radius: 88px;
  box-shadow: inset -30px -30px 60px #0f711f,
    inset 30px 30px 60px #1fef41;
}

input {
  animation: loginu 2s 2.5s both ease;
  border-radius: 20px;
  background: #d0f7e170;
  outline: none;
}

span{
  border-radius: 20px;
  background: #d0f7e170;
  outline: none;
  width: 250px;
}

input:focus {
  background: #d0f7e170;
  outline: none;
  box-shadow: -1px 1px 16px 5px #25df25;
  -moz-box-shadow: -1px 1px 16px 5px #0e9b4d;
  -webkit-box-shadow: -1px 1px 16px 5px #149b41;
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }

  20% {
    margin-top: 0;
  }

  25% {
    margin-top: -61px
  }

  50% {
    margin-top: -61px
  }

  55% {
    margin-top: -122px;
  }

  80% {
    margin-top: -122px
  }

  85% {
    margin-top: -61px
  }

  95% {
    margin-top: -61px
  }

  100% {
    margin-top: 0px
  }
}

@keyframes login {
  0% {
    transform: scale(1.3) translatey(-100%);
  }

  75% {
    transform: scale(1.055) translateX(60%);
  }
}

@keyframes loginu {
  0% {
    width: 0px;
    opacity: 0;
  }

  100% {
    width: 250px;
    opacity: 1;
  }
}



.animated-shape {
  
  background-color: #168b2a;
  
  color: white;
  
  width: 35px;
  
  height: 35px;
  
  margin: 20px auto;
  
  text-align: justify;
  
  shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  
  
  transition: all 0.5s ease;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
  
  
  
  
  button:hover .animated-shape{
  
  background-color: #b8e356;
  
  shape-outside: polygon(43% 46%, 21% 66%, 0 46%, 0% 80%, 20% 100%, 36% 84%, 52% 70%, 66% 55%, 82% 38%, 100% 20%, 84% 4%, 64% 25%);
  
  -webkit-clip-path: polygon(43% 46%, 21% 66%, 0 46%, 0% 80%, 20% 100%, 36% 84%, 52% 70%, 66% 55%, 82% 38%, 100% 20%, 84% 4%, 64% 25%);
  
  }
  




